.home {
  text-align: center;
  background-color: white;
  min-height: 5vh;
  min-width: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17;
  color:black;
  border: 10px lightgray;
  padding: 5px;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  color: black;
  background-color: lightgray;
  border: none;
  padding: 15px 32px;
  text-align: center;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}